<launch>

  <arg name="xacro" default="$(find urdf_tutorial)/urdf/r2d2.xacro"/>

  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(arg xacro)'"/>

  <node name="shadow_generator"
    pkg="rviz_virtual_shadow"
    type="make_virtual_shadow.py">
    <param name="model_param" value="robot_description"/>
  </node>

	<param name="use_gui" value="true"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>

